:root {
  --primary-color: rgb(233, 171, 83);
  --secondary-color: rgb(0, 0, 26);
  --tertiary-color: rgb(241, 94, 80);
  --paragraph-color: hsl(236, 13%, 42%);
  --off-white-color: hsl(36, 100%, 99%);
  --grayish-blue-color: hsl(233, 8%, 79%);
}

body {
  font-family: "Inter", sans-serif;
}

.navbar-toggler {
  border: none;
}

p {
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.bright-future-title {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 900;
  line-height: 1em;
}

.new-title {
  color: var(--primary-color);
}

.new-content-background {
  background: var(--secondary-color);
}

.new-content p {
  color: var(--paragraph-color);
  font-size: 13px;
  margin: 25px auto;
  line-height: 1.5em;
  text-align: justify;
}

.new-content a {
  font-weight: 600;
  font-size: 17px;
  color: var(--off-white-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.new-content a:hover {
  color: var(--primary-color);
}

.offcanvas-body li a {
  color: var(--secondary-color);
}
.offcanvas-body li a:hover {
  color: var(--tertiary-color);
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.retro-content {
  display: flex;

  align-items: center;

  justify-content: center;
}

.retro-text {
  font-size: 15px;
  padding: 10px 22px;
  text-align: justify;
}

.retro-text h2 {
  color: var(--grayish-blue-color);
  opacity: 0.7;
}
.retro-text a {
  font-size: 15px;
  font-weight: 800;
  text-decoration: none;
  color: var(--secondary-color);
}
.retro-text a:hover {
  color: var(--tertiary-color);
}

.retro-text p {
  color: var(--paragraph-color);
  font-size: 12px;
  margin: 12px 0;
}

.read-more-paragraph {
  color: var(--paragraph-color);
  font-size: 13px;
  padding-right: 10px;
}

.read-more-content button {
  font-size: 12px;
  color: var(--off-white-color);
  background-color: var(--tertiary-color);
  border: none;
  padding: 12px 25px;
  letter-spacing: 0.3em;
  transition: all 200ms ease-in-out;
}
.read-more-content button:hover {
  color: var(--off-white-color);
  background-color: var(--secondary-color);
  letter-spacing: 0.3em;
}

@media (max-width: 375px) {
  .read-more-content {
    margin-bottom: 50px;
  }
  .read-more-paragraph {
    margin-bottom: 20px;
  }
}
